:root {
  --primary-text-color: #434455;
  --title-text-color: #2e2f42;
  --main-text-color: #434455;
  --accent-color: #18a0fb;
  --pressed-color: #404bbf;
  --primary-white-color: #ffffff;
  --secondary-white-color: #f4f4fd;
  --primary-blue-color: #4d5ae5;
  --hero-banner-color: rgba(46, 47, 66, 0.7);
  --hero-text-color: rgba(255, 255, 255, 1);
  --footer-color: rgba(46, 47, 66, 1);
  --footer-text-color: rgba(244, 244, 253, 1);
  --our-team-background: #f4f4fd;
  --background-cards-our-services: #e7e9fc;
  --header-color: #e7e9fc;
  --body-background: #ffffff;
}

/* Body section*/
body {
background-color:var(--body-background) ;
color: var(--main-text-color);
}