<!-- :root {
--primary-brand-blue: #4D5AE5;
--pressed-brand-blue: #404BBF;
--headings-color #2E2F42;
--primary-text-color: #434455;
--secondary-text-color: #2E2F42; 
--white-text-color: #ffffff;
}
-->
